/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

a:hover {
  text-decoration: none;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
}

#circular {
  margin-top: 7%;
  /*margin-bottom: 15%;*/
  margin-left: 10%;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  background: url(../static/images/dp.jpg) no-repeat;
}

#bio {
  margin-top: 15%;
  margin-bottom: 10%;
  margin-left: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

#about-me {
  margin-top: 5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #4F6878
}

.networks {
  margin-left: 10px;
}