<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <!-- {% assign pages_list = site.pages %} -->
    {% for node in pages_list %}
      {% if node.title != null  %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">GitHub project</a>
    <a class="sidebar-nav-item" href="https://www.quora.com/Archit-Verma-1" target="_blank">Quora</a>
    <a class="sidebar-nav-item" href="https://in.linkedin.com/in/architv" target="_blank">LinkedIn</a>
    <a class="sidebar-nav-item" href="https://www.twitter.com/architv07" target="_blank">Twitter</a>
    <a class="sidebar-nav-item" href="http://stackoverflow.com/users/2223679/archit-verma" target="_blank">Stack Overflow</a>
    <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
