<script type="text/javascript">
var get_campaigns_data = function (callback,vis_id) {
  var _vis_opt_queue = window._vis_opt_queue || [];
  var _vis_counter = 0;
  // console.log(_vis_opt_queue);
  console.log('hello');
  _vis_opt_queue.push(function () {
    try {
      if (!_vis_counter) {
        // console.log('hello' + _vis_counter);
        var _vis_data = [],_vis_combination,_vis_id,_vis_l = 0;
        var bool = false;
        // console.log(_vwo_exp_ids);
        for (; _vis_l < _vwo_exp_ids.length; _vis_l++) {
          _vis_id = _vwo_exp_ids[_vis_l];
          console.log("vis_id" + _vis_id);
          if (typeof (vis_id) != 'undefined') {
            _vis_id = vis_id;
            bool = true;
          }
          if (_vwo_exp[_vis_id].status == "RUNNING") {
            _vis_combination = _vis_opt_readCookie('_vis_opt_exp_' + _vis_id + '_combi');
            console.log('combination_chosen' + _vis_combination)
            if (typeof (_vwo_exp[_vis_id].combination_chosen) != 'undefined')
            _vis_combination = _vwo_exp[_vis_id].combination_chosen;
            if (typeof (_vwo_exp[_vis_id].comb_n[_vis_combination]) != 'undefined') {
              // console.log("yo");
              _vis_data.push({
                id: _vis_id,
                name: _vwo_exp[_vis_id].name,
                type: _vwo_exp[_vis_id].type,
                combination_chosen: _vwo_exp[_vis_id].comb_n[_vis_combination],
                goals: _vwo_exp[_vis_id].goals
              });
              console.log(_vis_data);
              _vis_counter++;
              if (bool) {
                break;
              }
            }
          }
        }
        // Use the _vis_data object created above to fetch the data,
        // key of the object is the Test ID and the value is Variation Name
      }
      if(_vis_counter){
        callback && callback(_vis_data);
      }
    } 
    catch (err) {
    };
  });
  // console.log(_vis_opt_queue);
}
var call_hs = function(_vis_data){
  var _vis_l=0;
  // var data = _vis_data;
  var __ctm_cvars = __ctm_cvars || [];
  (window.__ctm_loaded = (window.__ctm_loaded || [])).push(function() {
    for(;_vis_l < _vis_data.length;_vis_l++) {

      __ctm_cvars.push({
        _vwo_id: _vis_data[_vis_l].id,
        name: _vis_data[_vis_l].name,
        type: _vis_data[_vis_l].type,
        combination_chosen: _vis_data[_vis_l].combination_chosen,
        goals: _vis_data[_vis_l].goals
      });
    }
  });
  console.log("ctm vars");
  console.log(__ctm_cvars);
}
console.log("random");
get_campaigns_data(call_hs);
</script> 